@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

@section css {
    <link href="@Url.Content("~/css/indexstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
}

<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a href="http://infinterest.com/#home">About</a></li>
            <li><a class="" href="vendor-registration">Vendor Sign Up</a></li>
            <li><a class="" href="broker-registration">Broker Sign Up</a></li>
            <li><a class="login text-white" href="#loginModal" data-toggle="modal">Log In</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div id="homecontainer">
    @Html.Partial("ListingSearchPartial")
</div>
<div id="loginModal" class="modal fade" role="form">
    <div class="modal-dialog">
        <!-- Login Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" action="/dashboard" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usrname">Username</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="psw">Password</label>
                        <input type="text" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>



