@{
    ViewData["Title"] = "Infinterest - View Profile";
}

@section css {
    <link href="@Url.Content("~/css/dashboardstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/profilestyle.css")" rel="stylesheet" type="text/css" />
}

    <nav class="header"> 
        <a href="#"><img src="../images/white-nosub-inflogo.png" alt="logo" class="whitelogo"></a> 
        <div class="navlinks">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Messaging</a>
            <a class="nav-link" href="/profile">Profile</a>
            <a class="nav-link" href="/logoff">Sign out</a>
        </div>
    </nav>
   