/* This is profile styling when someone is editing their profile */
/* Button */
.btn-primary{
    /* margin: 0 -30%; */
    background-color: #35BFFF !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.btn-primary:hover{
    background-color: rgb(22, 138, 192);
}

/* Profile Styling */
/* Buttons */
.btn-outline-light{
    border-color: #343a40 !important; 
    color: #343a40 !important;
    height: 30px;
    width: 100px; 
  }
  
 
/* Rating */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.business-profile h3{
    margin-top: 0;
}
.user-logo{
    width: 100px;
    margin: 1% auto;
    /* height: 100px; */
}
.user-profile{
    width: 100%;
    margin: 1% auto;
    /* height: 100px; */
}


/* @media (min-width: 700px) { */
